* {
	box-sizing: border-box;
}

body {
	font-family:  Consolas, Helvetica, sans-serif;
	
}

<<<<<<< HEAD

#navigator, #quote {
=======
body section {
>>>>>>> parent of de1c58e... turn off mobile zooming
	width: 50%;
	float: left;
	padding: 20px;
	border: 1px;
}

#greetings {
	text-align: center;
}

#navigator li{
			list-style: none;
}

#navigator {
	text-align: center;
	font-weight: bold;
	font-size: 120%;
}

#quote {
	font-size: 120%;
	font-weight: bold;
}

#quote div {
	font-style: italic;
	font-size: 90%;
	position: absolute;
	left: 70%;
}

#bottom small{
	position: absolute;
	left: 36%;
}

#bottom {
	clear:both;
	position: absolute;
	bottom: 20px;
	width: 98%;
}



a:visited, a:link {
	color: blue;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	width: 250px;
	border: 1px solid black;
	text-align: center;
	display: inline-block;
}

a:hover, a:active {
	color: white;
	background-color: black;
	font-weight: bold;
}

p:hover, p:active {
	color:white;
	background-color: blue;
	font-weight: bold;
}